<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Logs List</h2>
  </div>

  <div *ngIf="(0 === GlobalSessionState) else elseBlock">
    The application is not started.
  </div>
  <ng-template #elseBlock>
    <table mat-table [dataSource]="LogsList" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="timeStamp">
        <th mat-header-cell *matHeaderCellDef width="15%"> Op. Date </th>
        <td mat-cell *matCellDef="let logItem"> {{logItem.timeStamp}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> Message </th>
        <td mat-cell *matCellDef="let logItem"> {{logItem.comment}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
    </table>
  </ng-template>
</div>

