<div class="container general-margin">
  <div>
    <h2 class="h2">Rooms List</h2>
  </div>
  <hr>
  <div *ngIf="(0 === GlobalSessionState) else elseBlock">
    The application is not started.
  </div>
  <ng-template #elseBlock>
    <table class="mat-table" width="25%" style="margin-bottom: 25px;">
      <tr class="mat-header-row">
        <th class="mat-header-cell" colspan="2">Global Dashboard</th>
      </tr>
      <tr class="mat-row">
        <td class="mat-cell" width="50%" style="text-align: left">
          Next Number to be called
        </td>
        <td class="mat-cell" style="text-align: center">
          {{Queue[0] ?? "None"}}
        </td>
      </tr>
      <tr class="mat-row">
        <td class="mat-cell" width="50%" style="text-align: left">
          Last Released Number
        </td>
        <td class="mat-cell" style="text-align: center">
          {{LastReleasedQueueNumber != null && LastReleasedQueueNumber != 0 ? LastReleasedQueueNumber : "None"}}
        </td>
      </tr>
    </table>

    <table class="mat-table" width="25%" style="margin-bottom: 25px;">
      <tr class="mat-header-row">
        <th class="mat-header-cell">Rooms Dashboard</th>
      </tr>
      <tr *ngFor="let room of Rooms.roomsList" class="mat-row">
        <td class="mat-cell">
          <app-room
            [roomProperties] = "room"
            [initialQueue] = "Queue"
            [initialLast] = "LastReleasedQueueNumber"
            (sendQueueAndLast)="updateQueueAndLast($event)"></app-room>
        </td>
      </tr>
    </table>

  </ng-template>
</div>

