<div class="container">

  <div class="table-responsive">
    <table class="table table-bordered" width="100%">
      <thead>
        <tr>
          <th scope="col" style="text-align: center" colspan="2">{{roomProperties.roomName ?? "none"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">
              Current number :
          </td>
          <td scope="row">
            {{roomProperties.currentQueueNumber ?? "none"}}
          </td>
        </tr>
        <tr>
          <td scope="row">
              Actions
          </td>
          <td scope="row">
            <ng-container *ngIf="(QueueAndLast.queue.length === 0);else caseQueue">
              <ng-container *ngIf="(roomProperties.currentQueueNumber);else caseEmptyQueueNoNumberIn">
                <div class="buttons-margin">
                  <button mat-raised-button (click)="releaseNumber(roomProperties.roomId)">Release</button>
                </div>
              </ng-container>
              <ng-template #caseEmptyQueueNoNumberIn>
                Queue is empty, waiting...
              </ng-template>
            </ng-container>
            <ng-template #caseQueue>
                <ng-container *ngIf="(roomProperties.currentQueueNumber);else caseNoNumberIn">
                  <div class="buttons-margin">
                    <button mat-raised-button (click)="releaseNumber(roomProperties.roomId)">Release</button>
                  </div>
                </ng-container>
                <ng-template #caseNoNumberIn>
                  <div class="buttons-margin">
                    <button mat-raised-button color="accent" (click)="acceptNumber(roomProperties.roomId)">Accept</button>
                    <button mat-raised-button color="warn" (click)="skipNumber(roomProperties.roomId)">Skip</button>
                  </div>
                </ng-template>
              </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
